doctype html
html(lang='en')
  head
    title Attic :: paint mood using #sentimentanalysis on tweets and blog from #havaslofts
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/attic.css', rel='stylesheet')
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192")
    link(rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160")
    link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    meta(name="msapplication-TileColor" content="#2b5797")
    meta(name="msapplication-TileImage" content="/mstile-144x144.png")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content="Davy Peter Braun")
    meta(property="og:title" content="Attic :: paint mood using #sentimentanalysis on tweets and blog from #havaslofts")
    meta(property="og:url" content="http://attic.davybraun.com/")
    meta(property="og:image:url" content="http://attic.davybraun.com/images/attic-og-img.png")
    meta(property="og:site_name" content="Attic (#HavasLofts)")
    meta(property="og:description" content="Attic :: paint mood using #sentimentanalysis on tweets and blog from #havaslofts")
    meta(name="description" content="Attic :: paint mood using #sentimentanalysis on tweets and blog from #havaslofts")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0")
    script(src='/jquery/dist/jquery.min.js')
    script(src='/lodash/dist/lodash.min.js')
    script(src='/processing/processing.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56402752-1', 'auto');
      ga('send', 'pageview');

    script(src='/js/attic.js')
    script(src='//use.typekit.net/jjj5nmh.js')
    script try{Typekit.load();}catch(e){}
    script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
  body
    canvas(id='cnvs', with='100%', height='120%', data-processing-sources='/pde/cnvs.pde /hypejs/HYPE.pde') Can't you see the canvas?
    div(id='content', class='container')
      div(id='main')
        h3 <em>Attic</em> is a piece of generative art.
        br
        p It analyses <em>sentiments</em> of tweets marked <a href="https://twitter.com/search?q=%23HavasLofts" target="_blank">#HavasLofts</a> and articles related to the Havas Lofts initiative on <a href="https://medium.com/havas-lofts/" target="_blank">Medium</a>.
        p Based on the emotional valence of their words, it <em>feels</em> the mood of Havas Lofts members.
        br
        p <em>The results of the analysis influence the behaviour of the virtual paintbrush you're painting with.</em>
        br
        p.last Now click anywhere, and move your mouse. Then spread the love.
        a(href="https://twitter.com/share" class="share twitter-share-button" data-text="Attic paints mood using #sentimentanalysis on tweets and blog from #havaslofts" data-via="davypeterbraun" data-count="none" data-hashtags="havaslofts") Tweet
        p(style='clear:both') Go further: check the buttons at the bottom of your screen.

      div(id='tweets-content')
        h3 Tweets data
        br
        p Score: <span id="tweets-data-score">0</span> | Comparative value: <span id="tweets-data-value">0</span><span id="tweets-opinion"></span>
        p The follow terms were captured: <span id='tweets-tokens'></span>

      div(id='medium-content')
        h3 Medium blog posts data
        br
        p Score: <span id="medium-data-score">0</span> | Comparative value: <span id="medium-data-value">0</span> <span id="medium-opinion"></span>
        p The follow terms were captured: <span id='medium-tokens'></span>

      div(id='info')
        p Press "s" to save your painting.
        p <a href="#" id="tweets-data-toggle">Show/hide tweets data</a> | <a href="#" id="medium-data-toggle">Show/hide Medium data</a>

    div(id="save-modal")
      div(id="saved-image-container")
        span
        p Right-click and choose "Save as...". Click outside the image to cancel.